<!DOCTYPE html>
<html>
<head>

    
</head>

<body>

 <center> <img src= "/images/user.png"> </center>

  <center> 
   <h1> cadastro </h1>
 <center>   <img src= "/images/user.png">  </center>

  <center> 
      <form action="/cadastro" method="post">

     <input type = "text" name = "name" placeholder = "insira seu apelido">
  <input type = "email" email = "email" placeholder = "insira seu email">
     <input type = "password" password = "password" placeholder = "insira sua senha">
 <input type="submit">
      </form>
      <a href="cadastro">Não tenho uma conta</a>
  </center>

</body>

    
</html>