 <%- include('partials/header') %>
<center>   <div class="content">
    
 <div class="container">
    <img src="/images/noft.png">
    <p> wando ichimoji</br> Lorem ipsum </p>
</div>

<div class="container">
    <img src= "/images/noft.png">
    <p> sandai kitetsu </br> lorem ipsum</p>
</div></center>
    
</div>
</body>
</html>