 <%- include('partials/header') %>
<center>   <div class="content">
    
 <div class="container">
    <img src="/images/gomu.png">
    <p>Gomu Gomu No Mi </br> Lorem ipsum </p>
</div>

<div class="container">
    <img src= "/images/gomu.png">
    <p> Suna Suna No Mi </br> lorem ipsum</p>
</div></center>
    
</div>
</body>
</html>