 <%- include('partials/header') %>

       <center>   <div class="content">
    
 <div class="container">
    <img src="/images/noft.png">
    <p> Obersavação </br> <br> usuarios conhecidos: luffy,ussop... </br> Lorem ipsum </p>
</div>

<div class="container">
    <img src= "/images/noft.png">
     <p> armamento </br> <br>usuarios conhecidos: luffy, zoro </br> Lorem ipsum </p>
</div></center>
    
</div>
</body>
</html>