    <%- include('partials/header') %>
<div id= "text">
<center><p> </p>Essa pagina é focada em ajuda novas pessoas que por ventura começaram a ver o anime one piece a pouco. por se trata de uma obra com mais de 1000 episodios e também por ter inumeros conceitos e propriedades proprias de seu universo que o diferem da maioria dos outros animes, achei apropriado explica sobre os principais elementos da obra como: frutas, usuarios, haki e espadas. cada pagina terá informações sobre cada assunto. Além de poderem adicionas suas proprias teorias e contribuir com informações para o nosso querido site... feito de fan para fan e todos aqueles que amam a obra de Eichiro Oda</p> </center>
</div>
</body>

</html>