 <%- include('partials/header') %>

     <center>   <div class="content">
    
 <div class="container">
    <img src="/images/noft.png">
    <p> Monkey D.LUFFY</br> <br> fruta: gomu gomu no mi </br> Lorem ipsum </p>
</div>

<div class="container">
    <img src= "/images/noft.png">
     <p> buggy </br> <br> fruta: bara bara no mi </br> Lorem ipsum </p>
</div></center>
    
</div>
</body>
</html>